# Fill in the below with your values:
export GCP_ADMIN_EMAILS='["me@work.com","coworker@work.com"]'
export GCP_BILLING_ID="111111-111111-111111"
export GCP_ORG_ID="1111111111111"
export GCP_PROJECT_ID="bqutils"
export GCS_BUCKET="bqutils"
