# Source custom configuration, if any.
if [[ -f .envrc.customization ]]; then
    source_env .envrc.customization
fi
watch_file .envrc.customization

function check_envvar() {
    local var="${1}"
    local -n val="${var}"

    if [[ -z "${val}" ]]; then
        RED='\033[0;31m'
        NONE='\033[0m'
        echo -e "${RED}Warning: ${var} is not set.${NONE}"
    fi
}

check_envvar "GCP_ADMIN_EMAILS"
check_envvar "GCP_BILLING_ID"
check_envvar "GCP_ORG_ID"
check_envvar "GCP_PROJECT_ID"
check_envvar "GCS_BUCKET"
