source_up

export TF_VAR_gcp_admin_emails="${GCP_ADMIN_EMAILS}"
export TF_VAR_gcp_billing_id="${GCP_BILLING_ID}"
export TF_VAR_gcp_org_id="${GCP_ORG_ID}"
export TF_VAR_gcp_project_id="${GCP_PROJECT_ID}"
export TF_VAR_gcs_bucket="${GCS_BUCKET}"
